{% extends "base.html" %} {% block content %}
<style>
	.center {
		text-align: center;
	}
</style>
<div class="center">
	<canvas
		id="board"
		width="305"
		height="306"
		style="border: 1px solid #d3d3d3"
	></canvas>
    <button id="calibrate">Calibrate</button>
    <form action="none" id="form">
		<label >X coordinate</label>
        <input type="text" id="x" name="x"><br><br>
        <label >Y coordinate</label>
        <input type="text" id="y" name="y"><br><br>
    </form>
    <button id="submit">Submit</button>
	<label class="switch">
		<input id="checkBox" type="checkbox">
  		<span class="slider round"></span>
	</label>
</div>
{% endblock %} {% block javascripts %}
<script>
	function throttled(delay, fn) {
  		let lastCall = 0;
  		return function (...args) {
    		const now = (new Date).getTime();
    		if (now - lastCall < delay) {
      			return;
    		}
    		lastCall = now;
		return fn(...args);
  	}
}
    function move(xc, yc, convert="true") {
		console.log(xc, yc, convert)
        jQuery.ajax({
			url: "/mouse/position?convert=" + convert,
			type: "POST",
			data: JSON.stringify({ x: xc, y: yc }),
			contentType: "application/json",
			success: (response) => {
				console.log(response);
			},
		});
        //TODO: Send information to the y axsis.
    }

	const myHandler = (event) => {
		move(event.clientX, event.clientY)
	}

	const tHandler = throttled(1000, myHandler);


    document.getElementById("calibrate").onclick = () => {
        jQuery.ajax({
			url: "/calibrate",
			type: "GET",
			success: (response) => {
				console.log(response);
			},
		});
    }

    document.getElementById("submit").onclick = () => {
        var formData = $('form').serializeArray()
        move(formData[0]["value"], formData[1]["value"], convert="false")
    }

	jQuery.ajax(
			{
			url: "/toggle",
			type: "GET",
			success: (response) => {
				console.log(response);
			},
	})
	document.getElementById("checkBox").onclick = () => {
		console.log("on")

		jQuery.ajax(
			{
			url: "/toggle",
			type: "GET",
			success: (response) => {
				console.log(response);
			},
			})

	};

    
</script>
{% endblock %}
