{% extends "base.html" %}

{% block head %}
	<link
	rel="stylesheet"
	href="{{url_for('static', filename='css/chessboard-1.0.0.min.css')}}"
	/>
{% endblock %}


{% block content %}
		<div id="myBoard" style="width: 400px"></div>
		<label>Status:</label>
		<div id="status"><label>FEN:</label></div>
		<div id="fen"><label>PGN:</label></div>
		<div id="pgn"></div>
{% endblock %}

{% block javascripts %}
<script>
	// source: https://github.com/oakmac/chessboardjs/blob/master/examples/5000-legal-moves.example
	var fen = "{{ fen }}";
	if (!fen) {
		fen = "start";
	}
	var board = null;
	var game = new Chess();
	var $status = $("#status");
	var $fen = $("#fen");
	var $pgn = $("#pgn");
	function updateStatus() {
		var status = "";

		var moveColor = "White";
		if (game.turn() === "b") {
			moveColor = "Black";
		}

		// checkmate?
		if (game.in_checkmate()) {
			status = "Game over, " + moveColor + " is in checkmate.";
		}

		// draw?
		else if (game.in_draw()) {
			status = "Game over, drawn position";
		}

		// game still on
		else {
			status = moveColor + " to move";

			// check?
			if (game.in_check()) {
				status += ", " + moveColor + " is in check";
			}
		}

		$status.html(status);
		$fen.html(game.fen());
		$pgn.html(game.pgn());
	}
	function onChange() {
		console.log("Board changed: ", board.fen());
		$.ajax({
			type: "POST",
			contentType: "application/json",
			data: JSON.stringify({ fen: board.fen() }),
			url: "/updateBoard",
		});
	}
	function onDragStart(source, piece, position, orientation) {
		// do not pick up pieces if the game is over
		if (game.game_over()) return false;

		// only pick up pieces for the side to move
		if (
			(game.turn() === "w" && piece.search(/^b/) !== -1) ||
			(game.turn() === "b" && piece.search(/^w/) !== -1)
		) {
			return false;
		}
	}

	function onDrop(source, target) {
		// see if the move is legal
		var move = game.move({
			from: source,
			to: target,
			promotion: "q", // NOTE: always promote to a queen for example simplicity
		});

		// illegal move
		if (move === null) return "snapback";

		updateStatus();
	}

	function onSnapEnd() {
		board.position(game.fen());
	}

	var config = {
		position: fen,
		// sparePieces: true,
		draggable: true,
		onChange: onChange,
		onDrop: onDrop,
		onSnapEnd: onSnapEnd,
		onDragStart: onDragStart,
	};

	board = Chessboard("myBoard", config);
	updateStatus();
</script>
{% endblock %}